<div>
	<ion-view view-title="Inicio">
		<ion-content class="">
	  		<img style="max-width: 100%; height: auto;"src="img/fondoNA.gif" alt="">
	  	</ion-content>
	  	<div class=" bar-footer bar" style=" background-color:rgba(0,0,0,0) !important;  ">
        	<a ng-href="#/login" class="button buttonFooter button-energized ion-log-in col col-100" > Iniciar Sesion</a>
        	<!-- <a ng-href="#/login" class="button button-balanced icon-left col col-100">Registrarse</a> -->
     	</div>
	</ion-view>
</div>
