<div>
	<ion-view view-title="Recomendado para Ti"  cache-view="false">
		<ion-nav-bar class="bar-dark">
		  <ion-nav-back-button>
		  </ion-nav-back-button>
		</ion-nav-bar>
	  <ion-content>
	  	<center>
        <img style="max-width: 40%; height: auto;" ng-src="img/{{nombreLugar}}.jpg">
        <div class="item item-divider item-positive">
            Promocion de {{nombreLugar}}
        </div>
	    <div class="item">
				<h1>{{promocion.titulo}}</h1> 
				<h2 style="text-overflow: inherit;  white-space: normal;">{{promocion.descripcion}}</h2>
		</div>
	  </ion-content>
	</ion-view>
</div>