<ion-view view-title="Mi Perfil">
  <ion-content>
    <div class="list card">
      <div class="item item-divider item-assertive">
          Informacion Personal
      </div>
      <div class="item item-thumbnail-left">
        <img src="img/{{user.id}}.png">
        <h2>{{user.nombre}}</h2> <!--  usuario.nombre-->
        <p>{{user.sexo}}</p><!-- usuario.sexo -->
        <p>{{edad}}</p><!-- usuario.edad -->
        <p>{{user.fechaN}}</p><!-- usuario.fecNac -->
      </div>
      <div class="list">
        <div class="item item-divider item-assertive">
          Datos GPS
        </div>
        <div class="item" >
         <h2>Latitud y Longitud</h2>
         <p>64.231821 128.1231231</p><!-- Lat y Long -->
        </div>
        <div class="item" >
         <h2>Velocidad</h2>
         <p>4.2 km/h</p><!-- velocidad -->
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
