<ion-view view-title="Mi Perfil" cache-view="false">
  <ion-content>
    <div class="list card">
      <div class="item item-divider item-assertive">
          Informacion Personal
      </div>
      <div class="item item-thumbnail-left">
        <img ng-src="img/{{user.id}}.png">
        <h2>{{user.nombre}}</h2> <!--  usuario.nombre-->
        <p>{{user.sexo}}</p><!-- usuario.sexo -->
        <p>{{edad}}</p><!-- usuario.edad -->
        <p>{{user.fechaN}}</p><!-- usuario.fecNac -->
      </div>
      <div class="list">
        <div class="item item-divider item-assertive">
          Datos GPS
        </div>
        <div class="item" >
          <h2>Ubicacion</h2>
          <p>
            Longitud: {{ubicacionNueva.getLongitud()}}
            Latidud: {{ubicacionNueva.getLatitud()}}
          </p><!-- Lat y Long -->
        </div>
        <div class="item" >
         <h2>Velocidad</h2>
         <p>4.2 km/h</p><!-- velocidad -->
        </div>
      </div>
    </div>
    <center>
    <a class="button button-assertive icon-right ion-pricetag" ng-href ='#/tab/account/'>Ver Promociones</a>
  </ion-content>
</ion-view>
