<ion-tabs class="tabs-icon-top tabs-assertive">
  <!-- Login Tab -->
  <ion-tab title="Iniciar Sesion" icon="ion-log-in" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Perfil" icon="ion-android-person" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Adds Tab -->
  <ion-tab title="Promociones" icon="ion-heart" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>

